// Global style configration

$color: #eee;

body {
  background-color: $color;
}

img {
  -webkit-user-drag: none;
}

// Index page basic layout css
.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}
